/* Colleagues */

position: relative;
width: 1440px;
height: 1024px;

background: #ffffff;

/* Rectangle 1152 */

position: absolute;
width: 1440px;
height: 1374px;
left: 0px;
top: 0px;

/* LinearNew */
background: linear-gradient(180deg, #d8f5ea 0%, #d8f5ea 100%);

/* Rectangle 1156 */

position: absolute;
width: 1240px;
height: 694px;
left: 100px;
top: 110px;

background: #ffffff;
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 246px;

background: #f8f9fb;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 292px;

background: #ffffff;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 338px;

background: #f8f9fb;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 384px;

background: #ffffff;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 430px;

background: #f8f9fb;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 476px;

background: #ffffff;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 522px;

background: #f8f9fb;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 568px;

background: #ffffff;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 614px;

background: #f8f9fb;

/* Background */

position: absolute;
width: 1154px;
height: 46px;
left: 130px;
top: 660px;

background: #ffffff;

/* Group 2297 */

position: absolute;
width: 113px;
height: 502px;
left: 160px;
top: 218px;

/* Group 99 */

position: absolute;
visibility: hidden;
width: 11px;
height: 11px;
left: 200px;
top: 222px;

/* Polygon 1 */

position: absolute;
width: 11px;
height: 5px;
left: 200px;
top: 228px;

/* Primary Black */
background: #292929;
opacity: 0.5;
transform: rotate(180deg);

/* Polygon 2 */

position: absolute;
width: 11px;
height: 6px;
left: 200px;
top: 222px;

/* Primary Black */
background: #292929;
opacity: 0.5;

/* Group 2295 */

position: absolute;
width: 11px;
height: 6px;
left: 200px;
top: 225px;

/* Polygon 1 */

position: absolute;
visibility: hidden;
width: 11px;
height: 5px;
left: 200px;
top: 228px;

/* Primary Black */
background: #292929;
opacity: 0.5;
transform: rotate(180deg);

/* Polygon 2 */

position: absolute;
width: 11px;
height: 6px;
left: 200px;
top: 225px;

/* Light/Text */
background: #363636;

/* Himanshu Gupta Jan Paul Boon Claudia Schneider SJ Heng Lilian Choo Nickson Koh Britney Chia Cynthia Loke Shun Chou Wendy Lim */

position: absolute;
width: 113px;
height: 460px;
left: 160px;
top: 260px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 46px;
/* or 329% */

/* Light/Text */
color: #363636;

/* Name */

position: absolute;
width: 35px;
height: 20px;
left: 160px;
top: 218px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
display: flex;
align-items: center;

/* Light/Text */
color: #363636;

/* Group 2294 */

position: absolute;
width: 91px;
height: 502px;
left: 479px;
top: 218px;

/* Group 2294 */

position: absolute;
visibility: hidden;
width: 11px;
height: 11px;
left: 522px;
top: 222px;

/* Polygon 1 */

position: absolute;
width: 11px;
height: 5px;
left: 522px;
top: 228px;

/* Primary Black */
background: #292929;
opacity: 0.5;
transform: rotate(180deg);

/* Polygon 2 */

position: absolute;
width: 11px;
height: 6px;
left: 522px;
top: 222px;

/* Primary Black */
background: #292929;
opacity: 0.5;

/* Group 2295 */

position: absolute;
width: 11px;
height: 6px;
left: 522px;
top: 225px;

/* Polygon 1 */

position: absolute;
visibility: hidden;
width: 11px;
height: 5px;
left: 522px;
top: 228px;

/* Primary Black */
background: #292929;
opacity: 0.5;
transform: rotate(180deg);

/* Polygon 2 */

position: absolute;
width: 11px;
height: 6px;
left: 522px;
top: 225px;

/* Grey */
background: #c3c3c3;

/* +6596703634 +6597768819 +6581898253 +6590727213 +6596661457 +6598269521 +6587982667 96525952 +6593722183 97201035 */

position: absolute;
width: 91px;
height: 460px;
left: 479px;
top: 260px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 46px;
/* or 329% */

/* Light/Text */
color: #363636;

/* Phone */

position: absolute;
width: 38px;
height: 20px;
left: 479px;
top: 218px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
display: flex;
align-items: center;

/* Light/Text */
color: #363636;

/* Group 2295 */

position: absolute;
width: 103px;
height: 502px;
left: 776px;
top: 218px;

/* Group 2293 */

position: absolute;
visibility: hidden;
width: 11px;
height: 11px;
left: 851px;
top: 222px;

/* Polygon 1 */

position: absolute;
width: 11px;
height: 5px;
left: 851px;
top: 228px;

/* Primary Black */
background: #292929;
opacity: 0.5;
transform: rotate(180deg);

/* Polygon 2 */

position: absolute;
width: 11px;
height: 6px;
left: 851px;
top: 222px;

/* Primary Black */
background: #292929;
opacity: 0.5;

/* Group 2295 */

position: absolute;
width: 11px;
height: 6px;
left: 851px;
top: 225px;

/* Polygon 1 */

position: absolute;
visibility: hidden;
width: 11px;
height: 5px;
left: 851px;
top: 228px;

/* Primary Black */
background: #292929;
opacity: 0.5;
transform: rotate(180deg);

/* Polygon 2 */

position: absolute;
width: 11px;
height: 6px;
left: 851px;
top: 225px;

/* Grey */
background: #c3c3c3;

/* D & T Supply Chain Marketing Sales Finance D & T Tiger MD Office President Office MD Office */

position: absolute;
width: 103px;
height: 460px;
left: 776px;
top: 260px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 46px;
/* or 329% */

/* Light/Text */
color: #363636;

/* Department */

position: absolute;
width: 70px;
height: 20px;
left: 776px;
top: 218px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
display: flex;
align-items: center;

/* Light/Text */
color: #363636;

/* Group 2293 */

position: absolute;
visibility: hidden;
width: 11px;
height: 11px;
left: 1138px;
top: 222px;

/* Polygon 1 */

position: absolute;
width: 11px;
height: 5px;
left: 1138px;
top: 228px;

/* Primary Black */
background: #292929;
opacity: 0.5;
transform: rotate(180deg);

/* Polygon 2 */

position: absolute;
width: 11px;
height: 6px;
left: 1138px;
top: 222px;

/* Primary Black */
background: #292929;
opacity: 0.5;

/* Group 2318 */

position: absolute;
width: 11px;
height: 6px;
left: 1138px;
top: 225px;

/* Polygon 1 */

position: absolute;
visibility: hidden;
width: 11px;
height: 5px;
left: 1138px;
top: 228px;

/* Primary Black */
background: #292929;
opacity: 0.5;
transform: rotate(180deg);

/* Polygon 2 */

position: absolute;
width: 11px;
height: 6px;
left: 1138px;
top: 225px;

/* Grey */
background: #c3c3c3;

/* Approve */

position: absolute;
width: 49px;
height: 20px;
left: 1084px;
top: 218px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
display: flex;
align-items: center;

/* Light/Text */
color: #363636;

/* Group 2312 */

position: absolute;
width: 170px;
height: 28px;
left: 1085px;
top: 255px;

/* Group 2064 */

position: absolute;
width: 80px;
height: 28px;
left: 1085px;
top: 255px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1085px;
top: 255px;

/* Light/BG */
background: #ffffff;
border: 1px solid #0da76c;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 76.32%;
right: 20.07%;
top: 261px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #028e59;

/* Group 2299 */

position: absolute;
width: 80px;
height: 28px;
left: 1175px;
top: 255px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1175px;
top: 255px;

/* Light/BG */
background: #ffffff;
/* Cancel Required */
border: 1px solid #ec1c24;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 83.06%;
right: 14.24%;
top: 261px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

/* Cancel Required */
color: #ec1c24;

/* Group 2313 */

position: absolute;
width: 170px;
height: 28px;
left: 1084px;
top: 301px;

/* Group 2064 */

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 301px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 301px;

/* Light/BG */
background: #ffffff;
border: 1px solid #0da76c;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 76.25%;
right: 20.14%;
top: 307px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #028e59;

/* Group 2299 */

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 301px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 301px;

/* Light/BG */
background: #ffffff;
/* Cancel Required */
border: 1px solid #ec1c24;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 82.99%;
right: 14.31%;
top: 307px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

/* Cancel Required */
color: #ec1c24;

/* Group 2314 */

position: absolute;
width: 170px;
height: 28px;
left: 1084px;
top: 347px;

/* Group 2064 */

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 347px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 347px;

/* Light/BG */
background: #ffffff;
border: 1px solid #0da76c;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 76.25%;
right: 20.14%;
top: 353px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #028e59;

/* Group 2299 */

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 347px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 347px;

/* Light/BG */
background: #ffffff;
/* Cancel Required */
border: 1px solid #ec1c24;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 82.99%;
right: 14.31%;
top: 353px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

/* Cancel Required */
color: #ec1c24;

/* Group 2315 */

position: absolute;
width: 170px;
height: 28px;
left: 1084px;
top: 393px;

/* Group 2064 */

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 393px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 393px;

/* Light/BG */
background: #ffffff;
border: 1px solid #0da76c;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 76.25%;
right: 20.14%;
top: 399px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #028e59;

/* Group 2299 */

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 393px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 393px;

/* Light/BG */
background: #ffffff;
/* Cancel Required */
border: 1px solid #ec1c24;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 82.99%;
right: 14.31%;
top: 399px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

/* Cancel Required */
color: #ec1c24;

/* Group 2316 */

position: absolute;
width: 170px;
height: 28px;
left: 1084px;
top: 439px;

/* Group 2064 */

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 439px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 439px;

/* Light/BG */
background: #ffffff;
border: 1px solid #0da76c;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 76.25%;
right: 20.14%;
top: 445px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #028e59;

/* Group 2299 */

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 439px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 439px;

/* Light/BG */
background: #ffffff;
/* Cancel Required */
border: 1px solid #ec1c24;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 82.99%;
right: 14.31%;
top: 445px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

/* Cancel Required */
color: #ec1c24;

/* Group 2317 */

position: absolute;
width: 170px;
height: 28px;
left: 1084px;
top: 485px;

/* Group 2064 */

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 485px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1084px;
top: 485px;

/* Light/BG */
background: #ffffff;
border: 1px solid #0da76c;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 76.25%;
right: 20.14%;
top: 491px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #028e59;

/* Group 2299 */

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 485px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 28px;
left: 1174px;
top: 485px;

/* Light/BG */
background: #ffffff;
/* Cancel Required */
border: 1px solid #ec1c24;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 82.99%;
right: 14.31%;
top: 491px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;

/* Cancel Required */
color: #ec1c24;

/* DISABLED */

position: absolute;
height: 16px;
left: 79.1%;
right: 16.74%;
top: 537px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* Disabled */
color: #8d8d8d;

/* DISABLED */

position: absolute;
height: 16px;
left: 79.1%;
right: 16.74%;
top: 629px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* Disabled */
color: #8d8d8d;

/* DISABLED */

position: absolute;
height: 16px;
left: 79.1%;
right: 16.74%;
top: 675px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* Disabled */
color: #8d8d8d;

/* DISABLED */

position: absolute;
height: 16px;
left: 79.31%;
right: 16.88%;
top: 583px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* Cancel Required */
color: #ec1c24;

/* Group 130 */

position: absolute;
width: 6px;
height: 460px;
left: 1304px;
top: 246px;

/* Rectangle 41 */

position: absolute;
width: 6px;
height: 460px;
left: 1304px;
top: 246px;

background: #f0f0f0;
border-radius: 20px;

/* Rectangle 42 */

position: absolute;
width: 6px;
height: 108px;
left: 1304px;
top: 246px;

background: #c7c7c7;
border-radius: 20px;

/* Registration list */

position: absolute;
width: 193px;
height: 30px;
left: 130px;
top: 140px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Out of stock Promoti */

position: absolute;
width: 159px;
height: 24px;
left: 130px;
top: 176px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Group 2302 */

position: absolute;
width: 1150px;
height: 38px;
left: 160px;
top: 726px;

/* Out of stock Promoti */

position: absolute;
width: 196px;
height: 24px;
left: 160px;
top: 733px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Group 2064 */

position: absolute;
width: 100px;
height: 38px;
left: 956px;
top: 726px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 100px;
height: 38px;
left: 956px;
top: 726px;

/* Light/BG */
background: #ffffff;
/* Light/BG */
border: 1px solid #ffffff;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 67.85%;
right: 28.12%;
top: 737px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Group 2299 */

position: absolute;
width: 38px;
height: 38px;
left: 1066px;
top: 726px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 38px;
height: 38px;
left: 1066px;
top: 726px;

/* LinearGreen */
background: linear-gradient(180deg, #b4f5dc 0%, #7cecc1 100%);
/* Light/BG */
border: 1px solid #ffffff;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 75.07%;
right: 24.31%;
top: 737px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Group 2300 */

position: absolute;
width: 38px;
height: 38px;
left: 1114px;
top: 726px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 38px;
height: 38px;
left: 1114px;
top: 726px;

/* Light/BG */
background: #ffffff;
/* Light/BG */
border: 1px solid #ffffff;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 78.4%;
right: 21.04%;
top: 737px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Group 2301 */

position: absolute;
width: 38px;
height: 38px;
left: 1162px;
top: 726px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 38px;
height: 38px;
left: 1162px;
top: 726px;

/* Light/BG */
background: #ffffff;
/* Light/BG */
border: 1px solid #ffffff;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 81.74%;
right: 17.71%;
top: 737px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Group 2298 */

position: absolute;
width: 100px;
height: 38px;
left: 1210px;
top: 726px;

/* Rectangle 1156 */

box-sizing: border-box;

position: absolute;
width: 100px;
height: 38px;
left: 1210px;
top: 726px;

/* Light/BG */
background: #ffffff;
/* Light/BG */
border: 1px solid #ffffff;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
border-radius: 6px;

/* DISABLED */

position: absolute;
height: 16px;
left: 86.46%;
right: 11.39%;
top: 737px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Group 2194 */

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;

/* Rectangle 1191 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* LinearGreen */
background: linear-gradient(180deg, #b4f5dc 0%, #7cecc1 100%);
/* Light/BG */
border: 1px solid #ffffff;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);

/* Rectangle 1189 */

position: absolute;
width: 1360px;
height: 80px;
left: 80px;
top: 0px;

/* Light/BG */
background: #ffffff;
/* Light/BG */
border: 1px solid #ffffff;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);

/* Group 2111 */

position: absolute;
visibility: hidden;
width: 32px;
height: 36px;
left: 24px;
top: 20px;

/* Vector */

position: absolute;
height: 35.85px;
left: 1.67%;
right: 97.65%;
top: 20.1px;

/* Light/BG */
background: #ffffff;

/* Vector */

position: absolute;
height: 36px;
left: 3.2%;
right: 96.11%;
top: 20px;

/* Light/BG */
background: #ffffff;

/* Vector */

position: absolute;
height: 23.96px;
left: 2.4%;
right: 96.89%;
top: 26.2px;

/* Light/BG */
background: #ffffff;

/* Group 2082 */

position: absolute;
visibility: hidden;
width: 50px;
height: 30px;
left: 15px;
top: 25px;

/* Vector 1 */

position: absolute;
width: 10.92px;
height: 18.68px;
left: 15px;
top: 25.05px;

/* Light/Text */
background: #363636;

/* Vector 2 */

position: absolute;
width: 10.92px;
height: 18.68px;
left: 35.4px;
top: 25.05px;

/* Light/Text */
background: #363636;

/* Vector 3 */

position: absolute;
width: 9.87px;
height: 18.68px;
left: 26.03px;
top: 36.32px;

/* Light/Text */
background: #363636;
transform: matrix(1, 0, 0, -1, 0, 0);

/* Vector 4 */

position: absolute;
width: 18.74px;
height: 30px;
left: 46.26px;
top: 25px;

/* Light/Text */
background: #363636;

/* Group 2357 */

position: absolute;
width: 25px;
height: 46.67px;
left: 28px;
top: 17px;

/* Rectangle 1234 */

position: absolute;
width: 9.09px;
height: 39.08px;
left: 28px;
top: 24.59px;

background: #363636;

/* Rectangle 1235 */

position: absolute;
width: 9.09px;
height: 20.11px;
left: 43.91px;
top: 17px;

background: #363636;

/* Rectangle 1236 */

position: absolute;
width: 9.09px;
height: 16.31px;
left: 43.91px;
top: 39.76px;

background: #363636;

/* Group 2311 */

position: absolute;
width: 71px;
height: 50px;
left: 116px;
top: 15px;

/* Rectangle 1220 */

position: absolute;
width: 71px;
height: 50px;
left: 116px;
top: 15px;

/* Home */

position: absolute;
width: 43px;
height: 18px;
left: 130px;
top: 31px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

/* Disabled */
color: #8d8d8d;

/* Rectangle 1216 */

position: absolute;
width: 80px;
height: 2px;
left: 295px;
top: 56px;

background: #aef4d9;
border-radius: 6px;

/* Rectangle 1217 */

position: absolute;
width: 80px;
height: 2px;
left: 290px;
top: 53px;

background: #45aaa4;
border-radius: 6px;

/* Group 2309 */

position: absolute;
width: 77px;
height: 50px;
left: 193px;
top: 15px;

/* Rectangle 1220 */

position: absolute;
width: 77px;
height: 50px;
left: 193px;
top: 15px;

/* Reports */

position: absolute;
width: 57px;
height: 18px;
left: 203px;
top: 31px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

/* Disabled */
color: #8d8d8d;

/* Group 2310 */

position: absolute;
width: 104px;
height: 50px;
left: 278px;
top: 15px;

/* Rectangle 1220 */

position: absolute;
width: 104px;
height: 50px;
left: 278px;
top: 15px;

/* COLLEAGUES */

position: absolute;
width: 81px;
height: 18px;
left: 290px;
top: 31px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

/* Light/Text */
color: #363636;

/* Group 2358 */

position: absolute;
width: 70px;
height: 50px;
left: 382px;
top: 15px;

/* Rectangle 1220 */

position: absolute;
width: 70px;
height: 50px;
left: 382px;
top: 15px;

/* COLLEAGUES */

position: absolute;
width: 49px;
height: 18px;
left: 394px;
top: 31px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

/* Disabled */
color: #8d8d8d;

/* Rectangle 1216 */

position: absolute;
visibility: hidden;
width: 43px;
height: 2px;
left: 398px;
top: 56px;

background: #aef4d9;
border-radius: 6px;

/* Rectangle 1217 */

position: absolute;
visibility: hidden;
width: 43px;
height: 2px;
left: 395px;
top: 53px;

background: #45aaa4;
border-radius: 6px;

/* Notification */

position: absolute;
width: 33px;
height: 33px;
left: 1154px;
top: 23px;

/* Group */

position: absolute;
left: 80.14%;
right: 18.33%;
top: 3.32%;
bottom: 94.53%;

/* Group */

position: absolute;
left: 80.14%;
right: 18.33%;
top: 3.32%;
bottom: 94.53%;

/* Vector */

position: absolute;
height: 22px;
left: 80.14%;
right: 18.33%;
top: 34px;

/* Light/Text */
background: #363636;

/* Vector */

position: absolute;
visibility: hidden;
left: 80.14%;
right: 18.33%;
top: 4.01%;
bottom: 93.32%;

/* Light/Text */
background: #363636;

/* Group 1624 */

position: absolute;
width: 22px;
height: 22px;
left: 1165px;
top: 23px;

/* Ellipse 181 */

position: absolute;
width: 22px;
height: 22px;
left: 1165px;
top: 23px;

/* LinearGreen */
background: linear-gradient(180deg, #b4f5dc 0%, #7cecc1 100%);
/* Light/BG */
border: 2px solid #ffffff;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

/* 3 */

position: absolute;
width: 8px;
height: 10px;
left: 1172px;
top: 29px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.5px;
text-transform: uppercase;

/* Light/Text */
color: #363636;

/* Group 2282 */

position: absolute;
width: 131px;
height: 50px;
left: 1217px;
top: 15px;

/* Ellipse 199 */

position: absolute;
width: 50px;
height: 50px;
left: 1217px;
top: 15px;

background: url(.jpg);

/* Track order */

position: absolute;
width: 72px;
height: 24px;
left: 1276px;
top: 28px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: right;
letter-spacing: 0.5px;

/* Light/Text */
color: #363636;

/* Group 2195 */

position: absolute;
width: 40px;
height: 60px;
left: 1350px;
top: 10px;

/* Rectangle 1201 */

position: absolute;
width: 40px;
height: 60px;
left: 1350px;
top: 10px;

/* Light/BG */
background: #ffffff;

/* ri:logout-circle-line */

position: absolute;
width: 24px;
height: 24px;
left: 1358px;
top: 28px;

/* Vector */

position: absolute;
left: 0%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Light/Text */
background: #363636;
